body 
  background: #b8c6df
  background: -moz-linear-gradient(top, #b8c6df 0%, #6d88b7 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0% #b8c6df), color-stop(100%, #6d88b7))
  color: #333 

body, p, ol, ul, td 
  font-family: verdana, arial, helvetica, sans-serif
  font-size:   13px
  line-height: 18px


pre 
  background-color: #eee
  padding: 10px
  font-size: 11px

#content
  border-radius: 10px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  text-align: center
  clear: both
  margin: 10px auto 20px
  background: #FFF
  border: 1px solid white
  width: 800px

a 
  color: #000 
  &:visited  
    color: #666 
  &:hover  
    color: #fff 
    background-color: #000 

div.field, div.actions 
  margin-bottom: 10px

table
  text-align: left
  margin: 0 auto
  th
    text-align: center
    padding: 5px

#notice 
  color: green

.field_with_errors 
  padding: 2px
  background-color: red
  display: table

ul#number_table
  margin: 0 auto
  list-style: none
  width: 400px
  display: block
  padding: 0
  text-align: left
  li
    display: inline-block
    width: 76px
    

#errorExplanation 
  width: 450px
  border: 2px solid red
  padding: 7px
  padding-bottom: 0
  margin: 0 auto 20px
  text-align: left
  background-color: #f0f0f0
  h2 
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #c00
    color: #fff
  ul li 
    font-size: 12px
    list-style: square

p#copyright
  margin-top: 30px
  font-size: 10px
