body {
  background-color: white;
  color: #333333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

a {
  color: black; }
  a:visited {
    color: #666666; }
  a:hover {
    color: white;
    background-color: black; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

ul#number_table {
  list-style: none;
  width: 400px;
  display: block;
  margin: 0;
  padding: 0; }
  ul#number_table li {
    display: inline-block;
    width: 76px; }

#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }
